__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log
venv/
.env/
backend/.env
.env
.env.local
*.db
*.sqlite3
chroma_db/
backend/chroma_db/
.DS_Store
Thumbs.db
.vscode/
alembic/versions/*.pyc
alembic/versions/*.py
alembic/versions/__pycache__/
alembic/versions/__pycache__/*
alembic/versions/*.log

